@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-primary: #1e90ff; /* Dodger Blue */
  --color-primary-alt: #bacceac4; /* Blue 500 */
  --color-secondary: #10b981; /* Green 500 */
  --color-secondary-alt: #d4f0deae; /* Emerald */
  --color-grey-alt: #e8e5e5a5;
  --color-accent: #f59e0b; /* Amber 500 */
  --color-error: #ef4444; /* Red 500 */
  --color-text-primary: #333333; /* Dark Gray */
  --color-text-secondary: #4b5563; /* Gray 700 */
  --color-background: #ffffff; /* Light Gray */
  --color-surface: #ffffff; /* White */
  --color-border: #e5e7eb; /* Gray 300 */
  --faded-color-border: #ccc;

  /* Linear Gradients */
  --gradient-primary: linear-gradient(90deg, #1e90ff 0%, #3b82f6 100%);
  --gradient-secondary: linear-gradient(90deg, #10b981 0%, #22c55e 100%);
  --gradient-accent: linear-gradient(90deg, #f59e0b 0%, #ef4444 100%);
  --gradient-surface: linear-gradient(90deg, #ffffff 0%, #f9fafb 100%);

  --default-color: rgba(22, 22, 22, 0.88);
  --default-grey-color: #d0d0d0f4;
  --primary-grey: #a9aaac88;
  --purple-color: #543ee0;
  --dark-opacity: rgba(0, 0, 0, 0.561);
  --off-dark-opacity: rgba(0, 0, 0, 0.483);
  --alt-opacity: #2125290f;
  --primary-white: #ffffff;
  --very-light-purple: #d6d1f83a;
  --not-light-purple: #d6d1f8a9;
  --off-black: #626262;
  --off-white: #ffedcc;
  --primary-black: #111111;
  --faded-black: #3b3b3b;
  --ashed-black: #212529;
  --not-soo-black: #55524f;
  --active-blue: rgb(37, 106, 243);
  --just-grey: #d0d0d0;
  --light-grey: #e6e6e6b8;
  --navy-blue: rgb(9, 9, 42);
  --light-navy-blue: rgb(25, 25, 105);

    --bg: #ffffff;
  --muted: #e6e6e6;
  --text: #1f2937;
  --muted-text: #6b7280;
  --primary: #075985;
  --accent: #0ea5a4;
  --card-bg: #fcfcfd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body, #root {
  font-family: "Roboto", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;
}
